<html>
  <head>
    <title>Note Reading</title>
    <script src="../libs/angular.min.js"></script>
    <script src="../libs/vextab-div.js"></script>
    <script src="../libs/midiHandler.js"></script>
    <script src="../libs/midiDisplay.js"></script>
    <script src="midiApp.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
<body ng-app="midiModule" ng-controller="mainController">

<h1>Hit the key corresponding to the displayed note</h1>

<center>
  <table border="0">
    <tr>
      <td>
        <div ng-class="resultClass">{{result}}</div><br/>
      </td>
    </tr>
    <tr>
      <td>
        <canvas id="trebleCanvas"></canvas>
      </td>
      <td>
        <input type="checkbox" ng-model="trebleActive" ng-change="configurationChange()" ng-checked="true">
      </td>
    </tr>
    <tr>
      <td>
        <canvas id="bassCanvas"></canvas>
      </td>
      <td>
        <input type="checkbox" ng-model="bassActive" ng-change="configurationChange()" ng-checked="true">
      </td>
    </tr>
  </table>
</center>

</body>
</html>
