<html>
  <head>
    <title>Note Reading</title>
    <script src="../libs/angular.min.js"></script>
    <script src="../libs/vextab-div.js"></script>
    <script src="../libs/midiHandler.js"></script>
    <script src="../libs/midiDisplay.js"></script>
    <script src="midiApp.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
<body ng-app="midiModule" ng-controller="mainController">

<h1>Hit the key corresponding to the displayed note</h1>

<center>
  <table border="0">
    <tr>
      <td>
        <div ng-class="resultClass">{{result}}</div><br/>
      </td>
    </tr>
    <tr>
      <td>
        <canvas id="trebleCanvas"></canvas>
      </td>
      <td>
        <input type="checkbox" ng-model="trebleActive" ng-change="configurationChange()">Active<br/>
        <input type="checkbox" ng-model="trebleC8" ng-change="configurationChange()">C8<br/>
        <input type="checkbox" ng-model="trebleC7" ng-change="configurationChange()">C7<br/>
        <input type="checkbox" ng-model="trebleC6" ng-change="configurationChange()">C6<br/>
        <input type="checkbox" ng-model="trebleC5" ng-change="configurationChange()">C5<br/>
        <input type="checkbox" ng-model="trebleC4" ng-change="configurationChange()">C4<br/>
      </td>
    </tr>
    <tr>
      <td>
        <canvas id="bassCanvas"></canvas>
      </td>
      <td>
        <input type="checkbox" ng-model="bassActive" ng-change="configurationChange()">Active<br/>
        <input type="checkbox" ng-model="bassC3" ng-change="configurationChange()">C3<br/>
        <input type="checkbox" ng-model="bassC2" ng-change="configurationChange()">C2<br/>
        <input type="checkbox" ng-model="bassC1" ng-change="configurationChange()">C1<br/>
        <input type="checkbox" ng-model="bassC0" ng-change="configurationChange()">C0<br/>
      </td>
    </tr>
  </table>
</center>

</body>
</html>
